.titulo {
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    text-align: center;
}

.calculadora {
    background-color: rgb(36, 35, 35);
    border-color: #000000;
    border-width: 10px;
    border-style: solid;
    width: 340px;
    height: 650px;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
    .calculos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: rgba(255, 255, 255, 0);
        width: 340px;
        height: 450px;
        border-radius: 30px;
        margin-top: 0px;
        position: relative;
        padding: 5px;
    }
        .numeros {
            justify-content: space-around;
            font-size: 30px;
            color: #ffffff;
            text-align: center;
            line-height: 2;
            vertical-align: center;
            width: 75px;
            height: 75px;
            border-radius: 100%;
            background-color: rgba(255, 255, 255, 0.199);
            /* Firefox */
            -moz-transition: all 0.2s ease-in;
            /* Webkit */
            -webkit-transition: all  0.2s ease-in;
            /* Opera */ 
            -o-transition: all 0.2s ease-in;
            /* Standard */
            transition: all 0.2s ease-in;
            
        }
        .numeros:hover {
            background-color: rgba(255, 255, 255, 0.199);
            box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.719);
        }
        .operadores {
            justify-content: space-around;
            font-size: 30px;
            color: #ffffff;
            text-align: center;
            line-height: 2;
            vertical-align: center;
            width: 75px;
            height: 75px;
            border-radius: 100%;
            background-color: #f88808;
            /* Firefox */
            -moz-transition: all 0.2s ease-in;
            /* Webkit */
            -webkit-transition: all  0.2s ease-in;
            /* Opera */ 
            -o-transition: all 0.2s ease-in;
            /* Standard */
            transition: all 0.2s ease-in;
        }
        .operadores:hover {
            background-color: #f88808;
            box-shadow: 0px 0px 30px #ff9419;
        }

        .adicionais {
            justify-content: space-around;
            font-size: 30px;
            color: #ffffff;
            text-align: center;
            line-height: 2;
            vertical-align: center;
            width: 75px;
            height: 75px;
            border-radius: 100%;
            background-color: rgba(255, 255, 255, 0.267);
            /* Firefox */
            -moz-transition: all 0.2s ease-in;
            /* Webkit */
            -webkit-transition: all  0.2s ease-in;
            /* Opera */ 
            -o-transition: all 0.2s ease-in;
            /* Standard */
            transition: all 0.2s ease-in;
        }
        .adicionais:hover {
            background-color: rgba(255, 255, 255, 0.267);
            box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.774);
        }

        
    .tela {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0);
        width: 340px;
        height: 150px;;
        margin-top: 20px;
        margin-bottom: 20px;
    }

        .material-symbols-outlined {
            font-size: 40px;
            background-color: #00000000;
            color: #fffdfd;
            margin-left: 15px;
            padding-top: 5px;
            display: flex;
            justify-content: space-between;
            width: 55px;
            height: 65px;

        }
        .telaOperacao {
            font-size: 35px;
            text-align: right;
            color: #ffffff81;
            width: 300px;
            height: 50px;
            border-radius: 0px;
        }
        .telaResultado {
            font-size: 60px;
            color: #ffffff;
            text-align: right;
            width: 300px;
            height: 50px;
            padding-bottom: 20px;
            border-radius: 0px;
        }
